<h1> LIST OF ALL STAFF MEMBERS  </h1>
<p>Here is a list of all the people who are available with us to help us serve better. Kindly press on the downward link to display various details about the staff members that might help the you to get served better</p>



   <!DOCTYPE html>
   <html lang="en">
   <head>
     <title>Bootstrap Example</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <style>
       /* Remove the navbar's default margin-bottom and rounded borders */
       .navbar {
         margin-bottom: 0;
         border-radius: 0;
       }

       /* Add a gray background color and some padding to the footer */
       footer {
         background-color: #f2f2f2;
         padding: 25px;
       }
     </style>
   </head>
   <body>

     <div class="jumbotron">
       <div class="container text-center">
         <h1>   HOTEL MOON <h1>
         <h3>       AN ITC ENTERPRISE             </h3>
         <p>MOON HOTEL is a leader in the global hospitality industry, with a distinctive collection and a worldwide reputation for excellence. Our diverse portfolio includes historic icons, elegant resorts and modern city center properties. From the beaches of Hawaii and Bermuda to the heart of New York City, all of our hotels offer a superior guest experience that is uniquely "Royal"</p>

         <% @staffs.each do |staff|  %>
         <body>
         <ul class="list-group">
           <li class="list-group-item"><%=staff.name%>  </li>
         </ul>
         </body>
         <%=link_to("More Details ", { :controller=>'staffs' , :action=>'show', :id=>staff.id } , :class=>'action show')%>
         <%  end  %>



       </div>
     </div>


   </body>
   </html>
