<%=link_to("Previous page",rooms_path, :class=>'back-link')%>
<h1> Member Details</h1>
<p>Find me in app/views/staff/show.html.erb</p>

<div class="rooms show">
	<h2> SHOW  ROOMS  </h2>

<div class="list-group">
  <a href="#" class="list-group-item">NAME                 :<%=@room.name%></a>
<a href="#" class="list-group-item">FARE  :<%=@room.fare %></a>
</div>
